@charset "UTF-8";
/* grid.sass
 * Created by Aki Braun
 * https://github.com/gesa/fluid-to-em-grid
 * Class names inspired by the smart-grid created by Daniel Ryan
 * (https://github.com/dryan/css-smart-grid/)
 * v0.2, 2012/10/07
 * v0.3, 2013/06/01
 * v0.4, 2014/02/18
 * v0.5, 2014/03/26
 *
 * This grid is basically infinitely nestable, as the columns are forever and always fluid.
 */
/* * Variables * *\
 * While the calculated grid is output using ems and rems, the below variables
 * should be set using your targeted pixel sides. Skip the units, those will be
 * calculated automatically. $remSize refers to the font size of the root
 * element in pixels—most developers use 16px.
\* * * * * * * * */
.container {
  clear: both;
  margin: 0 auto;
  padding: 1rem;
  width: 100%; }

.row::after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden; }

@media screen and (min-width: 37.5em) {
  .container {
    padding: 1rem 1.06333%; }

  .columns {
    float: left;
    margin-left: 2.12667%;
    min-height: 0.1rem;
    width: 6.38%; }
    .columns:first-child, .columns.first {
      margin-left: 0; }
    .columns.two {
      width: 14.88667%; }
    .columns.three {
      width: 23.39333%; }
    .columns.four {
      width: 31.9%; }
    .columns.five {
      width: 40.40667%; }
    .columns.six {
      width: 48.91333%; }
    .columns.seven {
      width: 57.42%; }
    .columns.eight {
      width: 65.92667%; }
    .columns.nine {
      width: 74.43333%; }
    .columns.ten {
      width: 82.94%; }
    .columns.eleven {
      width: 91.44667%; }
    .columns.twelve {
      width: 99.95333%; }
    .columns.offset-one {
      margin-left: 10.63333%; }
      .columns.offset-one:first-child {
        margin-left: 8.50667%; }
    .columns.offset-two {
      margin-left: 19.14%; }
      .columns.offset-two:first-child {
        margin-left: 17.01333%; }
    .columns.offset-three {
      margin-left: 27.64667%; }
      .columns.offset-three:first-child {
        margin-left: 25.52%; }
    .columns.offset-four {
      margin-left: 36.15333%; }
      .columns.offset-four:first-child {
        margin-left: 34.02667%; }
    .columns.offset-five {
      margin-left: 44.66%; }
      .columns.offset-five:first-child {
        margin-left: 42.53333%; }
    .columns.offset-six {
      margin-left: 53.16667%; }
      .columns.offset-six:first-child {
        margin-left: 51.04%; }
    .columns.offset-seven {
      margin-left: 61.67333%; }
      .columns.offset-seven:first-child {
        margin-left: 59.54667%; }
    .columns.offset-eight {
      margin-left: 70.18%; }
      .columns.offset-eight:first-child {
        margin-left: 68.05333%; }
    .columns.offset-nine {
      margin-left: 78.68667%; }
      .columns.offset-nine:first-child {
        margin-left: 76.56%; }
    .columns.offset-ten {
      margin-left: 87.19333%; }
      .columns.offset-ten:first-child {
        margin-left: 85.06667%; }
    .columns.offset-eleven {
      margin-left: 95.7%; }
      .columns.offset-eleven:first-child {
        margin-left: 93.57333%; } }
@media screen and (min-width: 61.25em) {
  .container {
    max-width: 96.0rem; } }
@media screen and (min-width: 75em) {
  .container {
    max-width: 117.55102rem; } }
